{% extends 'base.html' %}
{% block title %}绩效管理{% endblock %}
{% block navtabs %}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'index' %}">项目</a></li>
        <li role="presentation"><a href="{% url 'group:group_list' %}">团队</a></li>
        <li role="presentation" class="active"><a href="{% url 'performance:performance' %}">绩效管理</a></li>
    </ul>
{% endblock %}
{% block content %}
    <form  class="form-signin" action="{{ kpiurl }}" method="get">
        <div class="dateContainer">
            计算周期：
            <select class="form-control dateSelect" name="startyear">
                <option value="2018" {% ifequal startyear '2018' %}selected{% endifequal %}>2018</option>
                <option value="2019" {% ifequal startyear '2019' %}selected{% endifequal %}>2019</option>
                <option value="2020" {% ifequal startyear '2020' %}selected{% endifequal %}>2020</option>
                <option value="2021" {% ifequal startyear '2021' %}selected{% endifequal %}>2021</option>
                <option value="2022" {% ifequal startyear '2022' %}selected{% endifequal %}>2022</option>

            </select>
            <select class="form-control dateSelect" name="startmonth">
                <option value="1" {% ifequal startmonth '1' %}selected{% endifequal %}>1月</option>
                <option value="2" {% ifequal startmonth '2' %}selected{% endifequal %}>2月</option>
                <option value="3" {% ifequal startmonth '3' %}selected{% endifequal %}>3月</option>
                <option value="4" {% ifequal startmonth '4' %}selected{% endifequal %}>4月</option>
                <option value="5" {% ifequal startmonth '5' %}selected{% endifequal %}>5月</option>
                <option value="6" {% ifequal startmonth '6' %}selected{% endifequal %}>6月</option>
                <option value="7" {% ifequal startmonth '7' %}selected{% endifequal %}>7月</option>
                <option value="8" {% ifequal startmonth '8' %}selected{% endifequal %}>8月</option>
                <option value="9" {% ifequal startmonth '9' %}selected{% endifequal %}>9月</option>
                <option value="10" {% ifequal startmonth '10' %}selected{% endifequal %}>10月</option>
                <option value="11" {% ifequal startmonth '11' %}selected{% endifequal %}>11月</option>
                <option value="12" {% ifequal startmonth '12' %}selected{% endifequal %}>12月</option>
            </select>
             ～
            <select class="form-control dateSelect" name="endyear">
                <option value="2018" {% ifequal endyear '2018' %}selected{% endifequal %}>2018</option>
                <option value="2019" {% ifequal endyear '2019' %}selected{% endifequal %}>2019</option>
                <option value="2020" {% ifequal endyear '2020' %}selected{% endifequal %}>2020</option>
                <option value="2021" {% ifequal endyear '2021' %}selected{% endifequal %}>2021</option>
                <option value="2022" {% ifequal endyear '2022' %}selected{% endifequal %}>2022</option>

            </select>
            <select class="form-control dateSelect" name="endmonth">
                <option value="1" {% ifequal endmonth '1' %}selected{% endifequal %}>1月</option>
                <option value="2" {% ifequal endmonth '2' %}selected{% endifequal %}>2月</option>
                <option value="3" {% ifequal endmonth '3' %}selected{% endifequal %}>3月</option>
                <option value="4" {% ifequal endmonth '4' %}selected{% endifequal %}>4月</option>
                <option value="5" {% ifequal endmonth '5' %}selected{% endifequal %}>5月</option>
                <option value="6" {% ifequal endmonth '6' %}selected{% endifequal %}>6月</option>
                <option value="7" {% ifequal endmonth '7' %}selected{% endifequal %}>7月</option>
                <option value="8" {% ifequal endmonth '8' %}selected{% endifequal %}>8月</option>
                <option value="9" {% ifequal endmonth '9' %}selected{% endifequal %}>9月</option>
                <option value="10" {% ifequal endmonth '10' %}selected{% endifequal %}>10月</option>
                <option value="11" {% ifequal endmonth '11' %}selected{% endifequal %}>11月</option>
                <option value="12" {% ifequal endmonth '12' %}selected{% endifequal %}>12月</option>
            </select>

            <input class="btn btn-primary" type="submit" value="计算绩效"></input>

        </div>
    </form>


    {% block kpicontent %}{% endblock %}
{% endblock %}