{% extends 'kpi-base.html' %}
{% block title %}绩效管理{% endblock %}
{% block calculatekpi %}
        <button type="button" class="btn btn-primary cal">计算绩效</button>
{% endblock %}
{% block kpicontent %}
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a>部门绩效</a></li>
        <li role="presentation"><a href="{% url 'performance:user_list' %}">个人绩效</a></li>
    </ul>

    <table class="table table-bordered table-hover">
        <thead >
            <tr>
                <th>部门名称</th>
                <th>绩效评分</th>
                <th>计算周期</th>
            </tr>
        </thead>
        <tbody>
            {% for group in result %}
                <tr>
                <th scope="row"><a href="{% url 'performance:user_list' %}">{{ group.name }}</a></th>
                <td>{{ group.jx }}</td>
                <td>{{ time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}