{% extends 'kpi-base.html' %}
{% block title %}个人绩效{% endblock %}
{% block kpicontent %}
    <div class="row">
        <div class="col-md-12">
            <h4>侯洋 绩效详情</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>绩效评分：80 累计获得GSP：654</h5>
        </div>
    </div>

    <table class="table table-bordered detailContainer">
        <tbody>
        <tr>
            <td colspan="2">项目名称：<a href="project-detail.html">需求单项目</a></td>
            <td>起止时间：2018.01.01 - 2018.03.01</td>
        </tr>
        <tr>
            <td colspan="3">侯洋PSP：200</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered detailContainer">
        <tbody>
        <tr>
            <td colspan="2">项目名称：<a href="project-detail.html">需求单项目</a></td>
            <td>起止时间：2018.01.01 - 2018.03.01</td>
        </tr>
        <tr>
            <td colspan="3">侯洋PSP：200</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
