{% extends 'kpi-base.html' %}
{% block title %}个人绩效{% endblock %}
{% block kpicontent %}
    <div class="row">
        <div class="col-md-12">
            <h4>{{ user.username }} 绩效详情</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>累计获得GSP：{{ sp }}</h5>
        </div>
    </div>

    {% for task in person_tasks %}
        <table class="table table-bordered detailContainer">
        <tbody>
        <tr>
            <td colspan="2">项目名称：<a href="{% url 'project:project_detail' task.task.project.id %}">{{ task.task.project.name }}</a></td>
            <td>起止时间：{{ task.task.project.start_time }} - {{ task.task.project.end_time }}</td>
        </tr>
        <tr>
            <td colspan="3">{{ task.user.username }}的PSP值：{{ task.getSP }}</td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock %}
