{% extends 'kpi-base.html' %}
{% block title %}绩效管理{% endblock %}
{% block kpicontent %}
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" ><a href="{% url 'performance:performance' %}">部门绩效</a></li>
        <li role="presentation" class="active"><a>个人绩效</a></li>
    </ul>

    <table class="table table-bordered table-hover">
        <thead >
        <tr>
            <th>成员名称</th>
            <th>绩效评分</th>
            <th>计算周期</th>
        </tr>
        </thead>
        <tbody>
        {% for user in result %}
            <tr>
            <th scope="row"><a href="{% url 'performance:user_detail' user.id %}">{{ user.name }}</a></th>
            <td>{{ user.jx }}</td>
            <td>{{ time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
