{% extends 'kpi-base.html' %}
{% block title %}小组绩效详情{% endblock %}
{% block kpicontent %}
    <div class="row">
        <div class="col-md-12">
            <h5>{{ group.name }} 累计获得GSP：{{ group.getSP }}</h5>
        </div>
    </div>
    {% for task in all_task %}
    <table class="table table-bordered detailContainer">
        <tbody>
        <tr>
            <td colspan="2">项目名称：<a href="{% url 'project:project_detail' task.project.id %}">{{ task.project.name }}</a></td>
            <td>起止时间：{{ task.project.start_time }} - {{ task.project.end_time }}</td>
        </tr>
        <tr>
            <td colspan="3">{{ task.group.name }}的GSP值：{{ task.getSP }}</td>
        </tr>
        <tr>
            <td colspan="3">组员PSP：</td>
        </tr>
        {% for person_task in task.person_task.all %}
            <tr>
            <td colspan="3"><a href="{% url 'performance:user_detail' person_task.user.id %}">{{ person_task.user.username }}：{{ person_task.getSP }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
{% endblock %}