{% extends 'kpi-base.html' %}
{% block title %}部门绩效详情{% endblock %}
{% block kpicontent %}
    <div class="row">
        <div class="col-md-12">
            <h4>产品研发部 绩效详情</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>累计获得GSP：{{ sp }}</h5>
        </div>
    </div>

    {% for project in all_project %}
    <table class="table table-bordered detailContainer">
        <tbody>
            <tr>
                <td colspan="2">项目名称：<a href="{% url 'project:project_detail' project.id %}">{{ project.name }}</a></td>
                <td>起止时间：{{ project.start_time }} - {{ project.end_time }}</td>
            </tr>
            <tr>
                <td colspan="3">产品研发部SP：{{ project.getSP }}</td>
            </tr>
            <tr>
                <td colspan="3">小组GSP：</td>
            </tr>
            {% for task in project.project_task.all %}
                <tr>
                <td colspan="3"><a href="{% url 'performance:group_detail' task.group.id %}">{{ task.group.name }}：{{ task.getSP }}</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endfor %}

{% endblock %}
