<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <script src="{% static 'js/main.js' %}"></script>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>

    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">路书研发部项目管理</h2>
            <label for="inputEmail" class="sr-only">登录邮箱</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="登录邮箱" autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码">
            <div class="forgot">
                <a type="button" data-toggle="modal" data-target=".forgot-password-modal">
                    忘记密码
                </a>

                <div class="modal fade forgot-password-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title title" id="mySmallModalLabel">忘记密码</h4>
                            </div>
                            <div class="modal-body">
                                <input type="email" id="forgotEmail" class="form-control forgot-email" placeholder="请输入注册邮箱" autofocus>
                                <a class="btn btn-lg btn-primary btn-block" href="javascript:forgot()">下一步</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade forgot-password-finish-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title title">提示</h4>
                            </div>
                            <div class="modal-body">
                                我们为你发送了重设密码的链接，<p/>
                                请到你的邮箱查收。
                                <p/>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="btn btn-lg btn-primary btn-block" type="submit" href="project.html">登录</a>
        </form>

    </div> <!-- /container -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
</html>
