{% extends 'base.html' %}
{% block title %}项目详情{% endblock %}
{% block content %}
    <table class="table table-bordered detailContainer">
        <tbody>
        <tr>
            <td colspan="2"><h4>项目详情</h4></td>
            <td>
                <a type="button" data-toggle="modal" data-target=".edit-project-modal">编辑</a>
                <a href="javascript:deleteProject()">删除项目</a>
            </td>
        </tr>
        <tr>
            <td>项目名称：{{ project.name }}</td>
            <td>创建时间：{{ project.start_time }}</td>
            <td></td>
        </tr>
        <tr>
            <td>项目经理：{{ project.manager.username }}</td>
            <td>项目状态：{{ project.get_status_display }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered detailContainer">
        <tbody>
            <tr>
                <td colspan="3"><h4>部门绩效信息</h4></td>
            </tr>
            <tr>
                <td colspan="2"><h5>产品研发部 项目SP值：{{ project.getSP }}</h5></td>
                <td>
                    <a data-toggle="modal" data-target=".input-department-modal">录入</a>
                </td>
            </tr>
            <tr>
                <td>绩效权重：{{ project.weight }}</td>
                <td>项目标准SP：{{ project.sp }}</td>
                <td>项目成效：{{ project.impression }}</td>
            </tr>
            <tr>
                <td>执行时间：{{ project.executing}}  天</td>
                <td>验收时间：{{ project.acceptance }}  天</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"><h5>验收缺陷</h5></td>
            </tr>
            <tr>
                <td>严重缺陷：{{ project.acceptance_serious_bug }}  个</td>
                <td>中级缺陷：{{ project.acceptance_medium_bug }}  个</td>
                <td>低级缺陷：{{ project.acceptance_slight_bug }}  个</td>
            </tr>
            <tr>
                <td colspan="3"><h5>发布缺陷</h5></td>
            </tr>
            <tr>
                <td>严重缺陷：{{ project.release_serious_bug }}  个</td>
                <td>中级缺陷：{{ project.release_medium_bug }}  个</td>
                <td>低级缺陷：{{ project.release_slight_bug }}  个</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered detailContainer">
        <tbody>
            <tr>
                <td colspan="2"><h4>部门任务</h4></td>
                <td>
                    <a data-toggle="modal" data-target=".alloc-task-modal">分配任务</a>
                </td>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td colspan="2">{{ task.group.name }}  {{ task.get_status_display }}    标准GSP: {{ task.gsp }}</td>
                    <td>
                        <a onclick="javascript:getTask({{ task.id }})" class="js-click">录入</a>
                        <a data-toggle="modal" data-target=".alloc-task-modal">修改</a>
                        <a href="javascript:deleteAllocTeam()">删除</a>
                        <input type="hidden" value="{{ task }}">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">{{ task.description }}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>{{ task.create }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <table class="table table-bordered detailContainer">
        <tbody>
            <tr>
                <td colspan="3">
                    <h3>计算过程</h3>
                </td>
            </tr>
            <tr>
                <td colspan="3"><h4>消耗时间比={{ project.getTimeProportion }}</h4></td>
            </tr>
            <tr>
                <td colspan="3">消耗时间比=项目标准SP值／(「执行天数+验收天数」*22)</td>
            </tr>
            <tr>
                <td colspan="3"><h4>验收缺陷比={{ project.getAcceptanceBugProportion }}</h4></td>
            </tr>
            <tr>
                <td colspan="3">验收缺陷比=「项目标准SP值」/(「验收阶段发现的严重缺陷数」*15 + 「中级缺陷数」*5+「低级缺陷」*2)</td>
            </tr>
            <tr>
                <td colspan="3"><h4>发布缺陷比={{ project.getReleaseBugProportion }}</h4></td>
            </tr>
            <tr>
                <td colspan="3">发布缺陷比=「项目标准SP值」／(「项目发布阶段发现的严重缺陷数」*1500 + 「中级缺陷数」*500+「低级缺陷」*200)</td>
            </tr>
            <tr>
                <td colspan="3"><h4>项目成效={{ project.impression }}</h4></td>
            </tr>
            <tr>
                <td colspan="3">无固定标准，范围在0～1之间</td>
            </tr>
            <tr>
                <td colspan="3"><h4>产品研发部的项目评分={{ project.getScore }}</h4></td>
            </tr>
            <tr>
                <td colspan="3">项目评分=消耗时间比*40% + 发布缺陷比*30% + 项目成效*30%</td>
            </tr>
            <tr>
                <td colspan="3"><h4>产品研发部 项目SP值={{ project.getSP }}</h4></td>
            </tr>
            <tr>
                <td colspan="3">项目SP值=项目标准SP值*权重*部门项目评分</td>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td colspan="3"><h4>{{ task.group.name }}的项目评分={{ task.getScore }}</h4></td>
                </tr>
                <tr>
                    <td colspan="3">{{ task.scoreDescription }}</td>
                </tr>
                <tr>
                    <td colspan="3"><h4>{{ task.group.name }}的GSP值={{ task.getSP }}</h4></td>
                </tr>
                <tr>
                    <td colspan="3">{{ task.spDescription }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <!-- create project -->
    <div class="modal fade edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title title" id="createProjectModalLabel">项目详情</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input hidden class="edit_project_id" value="{{ project.id }}">
                        <div class="form-group">
                            <label for="projectName" class="col-md-3 control-label" name="name">项目名称：</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="projectName" value="{{ project.name }}">
                            </div>

                            <label for="projectStatus" class="col-md-3 control-label">项目经理：</label>
                            <select class="col-md-9 form-control projectStatus" id="projectPm" name="status">
                                {% for user in users %}
                                    {% if user.id == project.manager.id %}
                                       <option value="{{ user.id }}" selected>{{ user.username }}</option>
                                    {% else %}
                                       <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="projectDateFrom" class="col-md-3 control-label" name="start_time">创建时间：</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="projectDateFrom" value="{{ project.start_time }}">
                            </div>
                            <label for="projectDateTo" class="col-md-3 control-label" name="end_time">终止时间：</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="projectDateTo" value="{{ project.end_time }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectStatus" class="col-md-3 control-label">项目状态：</label>
                            <select class="col-md-9 form-control projectStatus" id="projectStatus" name="status">
                                <option value="executing">执行</option>
                                <option value="acceptance">验收</option>
                                <option value="release">发布</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:editeProject()">确定</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:void(0)" data-dismiss="modal">取消</a>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

        <script>
                var i18nObject = {
                        previousMonth : "上个月",
                        nextMonth     : "下个月",
                        months        : ["一月",
                                        "二月",
                                        "三月",
                                        "四月",
                                        "五月",
                                        "六月",
                                        "七月",
                                        "八月",
                                        "九月",
                                        "十月",
                                        "十一月",
                                        "十二月"],
                        weekdays      : ["周日",
                                        "周一",
                                        "周二",
                                        "周三",
                                        "周四",
                                        "周五",
                                        "周六"],
                        weekdaysShort : ["日",
                                        "一",
                                        "二",
                                        "三",
                                        "四",
                                        "五",
                                        "六"]
                    };
                new Pikaday(
                {
                    field: document.getElementById('projectDateFrom'),
                    i18n: i18nObject,
                    onSelect: function() {
                        document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
                    }
                });
                new Pikaday(
                {
                    field: document.getElementById('projectDateTo'),
                    i18n: i18nObject,
                    onSelect: function() {
                        document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
                    }
                });
            </script>
    </div>

    <!-- 录入 -->
    <div class="modal fade input-department-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input hidden id="project_id" value="{{ project.id }}">
                        <div class="form-group">
                            <label for="performanceWeight" class="col-md-2 control-label">绩效权重：</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="performanceWeight" value="{{ project.weight }}">
                            </div>
                            <label for="projectStandardSP" class="col-md-2 control-label"><nobr>项目标准SP：</nobr></label>
                            <div class="col-sm-2">
                                <input class="form-control" id="projectStandardSP" value="{{ project.sp }}">
                            </div>
                            <label for="ProjectEffectiveness" class="col-md-2 control-label">项目成效：</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="ProjectEffectiveness" value="{{ project.impression }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ExecutionTime" class="col-md-2 control-label">执行时间：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="ExecutionTime" value="{{ project.executing }}">
                                    <div class="input-group-addon">天</div>
                                </div>
                            </div>
                            <label for="AcceptanceTime" class="col-md-2 control-label">验收时间：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="AcceptanceTime" value="{{ project.acceptance }}">
                                    <div class="input-group-addon">天</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                验收缺陷
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SeriousDefect" class="col-md-2 control-label">严重缺陷：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="SeriousDefect" value="{{ project.acceptance_serious_bug }}">
                                    <div class="input-group-addon">个</div>
                                </div>
                            </div>
                            <label for="IntermediateDeficiency" class="col-md-2 control-label"><nobr>中级缺陷：</nobr></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="IntermediateDeficiency" value="{{ project.acceptance_medium_bug }}">
                                    <div class="input-group-addon">个</div>
                                </div>
                            </div>
                            <label for="LowLevelDefects" class="col-md-2 control-label">低级缺陷：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="LowLevelDefects" value="{{ project.acceptance_slight_bug }}">
                                    <div class="input-group-addon">个</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                发布缺陷
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SeriousDefect2" class="col-md-2 control-label">严重缺陷：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="SeriousDefect2" value="{{ project.release_serious_bug }}">
                                    <div class="input-group-addon">个</div>
                                </div>
                            </div>
                            <label for="IntermediateDeficiency2" class="col-md-2 control-label"><nobr>中级缺陷：</nobr></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="IntermediateDeficiency2" value="{{ project.release_medium_bug }}">
                                    <div class="input-group-addon">个</div>
                                </div>
                            </div>
                            <label for="LowLevelDefects2" class="col-md-2 control-label">低级缺陷：</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input class="form-control" id="LowLevelDefects2" value="{{ project.release_slight_bug }}">
                                    <div class="input-group-addon">个</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:editeProjectInfo()">确定</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:void(0)" data-dismiss="modal">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- alloc task -->
    <div class="modal fade alloc-task-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title title" id="createProjectModalLabel1">分配任务</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="projectStatus2" class="col-md-3 control-label">项目状态：</label>
                            <select class="col-md-3 form-control projectStatus" id="taskStatus">
                                <option value="executing">执行</option>
                                <option value="acceptance">验收</option>
                                <option value="release">发布</option>
                            </select>
                            <label for="projectStatus3" class="col-md-3 control-label">分配部门：</label>
                            <select class="col-md-3 form-control projectStatus" id="taskGroup">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <textarea class="allocTaskComment" id="taskDescription"></textarea>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:addTask({{ project.id }})">确定</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:void(0)" data-dismiss="modal">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- input team -->
    <div class="modal fade input-team-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title title" id="createProjectModalLabel3">录入信息</h4>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js-jq %}
    <script>

    </script>
{% endblock %}

