{% extends 'project-base.html' %}
{% block content %}
            <form  class="form-signin" action="{% url 'index' %}" method="get">
                <div class="row">
                    <div class="col-md-8">
                        <div class="input-group search">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                            <input type="text" name="projectname" class="form-control" placeholder="请输入项目名称" aria-describedby="sizing-addon2">
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".edit-project-modal">新建项目</button>
                    </div>
                    {% endif %}
                </div>

                <div class="dateContainer">
                    起止时间：
                    <select class="form-control dateSelect" name="startyear">
                        <option value="2018" {% ifequal startyear '2018' %}selected{% endifequal %}>2018</option>
                        <option value="2019" {% ifequal startyear '2019' %}selected{% endifequal %}>2019</option>
                        <option value="2020" {% ifequal startyear '2020' %}selected{% endifequal %}>2020</option>
                        <option value="2021" {% ifequal startyear '2021' %}selected{% endifequal %}>2021</option>
                        <option value="2022" {% ifequal startyear '2022' %}selected{% endifequal %}>2022</option>

                    </select>
                    <select class="form-control dateSelect" name="startmonth">
                        <option value="1" {% ifequal startmonth '1' %}selected{% endifequal %}>1月</option>
                        <option value="2" {% ifequal startmonth '2' %}selected{% endifequal %}>2月</option>
                        <option value="3" {% ifequal startmonth '3' %}selected{% endifequal %}>3月</option>
                        <option value="4" {% ifequal startmonth '4' %}selected{% endifequal %}>4月</option>
                        <option value="5" {% ifequal startmonth '5' %}selected{% endifequal %}>5月</option>
                        <option value="6" {% ifequal startmonth '6' %}selected{% endifequal %}>6月</option>
                        <option value="7" {% ifequal startmonth '7' %}selected{% endifequal %}>7月</option>
                        <option value="8" {% ifequal startmonth '8' %}selected{% endifequal %}>8月</option>
                        <option value="9" {% ifequal startmonth '9' %}selected{% endifequal %}>9月</option>
                        <option value="10" {% ifequal startmonth '10' %}selected{% endifequal %}>10月</option>
                        <option value="11" {% ifequal startmonth '11' %}selected{% endifequal %}>11月</option>
                        <option value="12" {% ifequal startmonth '12' %}selected{% endifequal %}>12月</option>
                    </select>
                     ～
                    <select class="form-control dateSelect" name="endyear">
                        <option value="2018" {% ifequal endyear '2018' %}selected{% endifequal %}>2018</option>
                        <option value="2019" {% ifequal endyear '2019' %}selected{% endifequal %}>2019</option>
                        <option value="2020" {% ifequal endyear '2020' %}selected{% endifequal %}>2020</option>
                        <option value="2021" {% ifequal endyear '2021' %}selected{% endifequal %}>2021</option>
                        <option value="2022" {% ifequal endyear '2022' %}selected{% endifequal %}>2022</option>

                    </select>
                    <select class="form-control dateSelect" name="endmonth">
                        <option value="1" {% ifequal endmonth '1' %}selected{% endifequal %}>1月</option>
                        <option value="2" {% ifequal endmonth '2' %}selected{% endifequal %}>2月</option>
                        <option value="3" {% ifequal endmonth '3' %}selected{% endifequal %}>3月</option>
                        <option value="4" {% ifequal endmonth '4' %}selected{% endifequal %}>4月</option>
                        <option value="5" {% ifequal endmonth '5' %}selected{% endifequal %}>5月</option>
                        <option value="6" {% ifequal endmonth '6' %}selected{% endifequal %}>6月</option>
                        <option value="7" {% ifequal endmonth '7' %}selected{% endifequal %}>7月</option>
                        <option value="8" {% ifequal endmonth '8' %}selected{% endifequal %}>8月</option>
                        <option value="9" {% ifequal endmonth '9' %}selected{% endifequal %}>9月</option>
                        <option value="10" {% ifequal endmonth '10' %}selected{% endifequal %}>10月</option>
                        <option value="11" {% ifequal endmonth '11' %}selected{% endifequal %}>11月</option>
                        <option value="12" {% ifequal endmonth '12' %}selected{% endifequal %}>12月</option>
                    </select>

                    <span class="pm">项目经理：</span>
                    <select class="form-control dateSelect" name="manager">
                        <option {% ifequal manager '全部' %}selected{% endifequal %}>全部</option>
                        {% for managername in all_managers %}
                            <option {% ifequal manager managername %}selected{% endifequal %}>{{ managername }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-primary" type="submit" value="搜索"></input>
                </div>
            </form>



            <table class="table table-bordered table-hover">
                <thead >
                <tr>
                    <th>项目名称</th>
                    <th>项目经理</th>
                    <th>项目状态</th>
                    <th>起止时间</th>
                </tr>
                </thead>
                <tbody>
                {% for project in all_project.object_list %}
                    <tr>
                    <th scope="row"><a href="{% url 'project:project_detail' project.id %}">{{ project.name }}</a></th>
                    <td>{{ project.manager.username }}</td>
                    <td>{{ project.get_status_display }}</td>
                    <td>{{ project.start_time }} - {{ project.end_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if all_project.has_previous %}
            <a href="?{{ all_project.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; 前一页</a>
        {% else %}
            <span class="disabled prev">&lsaquo;&lsaquo; 前一页</span>
        {% endif %}
            {% for page in all_project.pages %}
            {% if page %}
            {% ifequal page all_project.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
            {% if all_project.has_next %}
            <a href="?{{ all_project.next_page_number.querystring }}" class="next">下一页 &rsaquo;&rsaquo;</a>
        {% else %}
            <span class="disabled next">下一页 &rsaquo;&rsaquo;</span>
        {% endif %}

    <!-- create project -->
    <div class="modal fade edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title title" id="createProjectModalLabel">项目详情</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="projectName" class="col-md-3 control-label" name="name">项目名称：</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="projectName" value="">
                            </div>

                            <label for="projectStatus" class="col-md-3 control-label">项目经理：</label>
                            <select class="col-md-9 form-control projectStatus" id="projectPm" name="status">
                                {% for user in users %}
                                    {% if user.id == project.manager.id %}
                                       <option value="{{ user.id }}" selected>{{ user.username }}</option>
                                    {% else %}
                                       <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="projectDateFrom" class="col-md-3 control-label" name="start_time">创建时间：</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="projectDateFrom">
                            </div>
                            <label for="expectProjectDateTo" class="col-md-3 control-label" name="expect_end_time">预计终止时间：</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="expectProjectDateTo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectStatus" class="col-md-3 control-label">项目状态：</label>
                            <select class="col-md-9 form-control projectStatus" id="projectStatus" name="status">
                                <option value="executing">执行</option>
                                <option value="acceptance">验收</option>
                                <option value="release">发布</option>
                                <option value="suspend">滞后</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:editeProject('0')">确定</a>
                            </div>
                            <div class="col-sm-6">
                                <a class="btn btn-sm btn-primary btn-block" href="javascript:void(0)" data-dismiss="modal">取消</a>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

        <script>
                var i18nObject = {
                        previousMonth : "上个月",
                        nextMonth     : "下个月",
                        months        : ["一月",
                                        "二月",
                                        "三月",
                                        "四月",
                                        "五月",
                                        "六月",
                                        "七月",
                                        "八月",
                                        "九月",
                                        "十月",
                                        "十一月",
                                        "十二月"],
                        weekdays      : ["周日",
                                        "周一",
                                        "周二",
                                        "周三",
                                        "周四",
                                        "周五",
                                        "周六"],
                        weekdaysShort : ["日",
                                        "一",
                                        "二",
                                        "三",
                                        "四",
                                        "五",
                                        "六"]
                    };
                new Pikaday(
                {
                    field: document.getElementById('projectDateFrom'),
                    i18n: i18nObject,
                    onSelect: function() {
                        document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
                    }
                });
                new Pikaday(
                {
                    field: document.getElementById('expectProjectDateTo'),
                    i18n: i18nObject,
                    onSelect: function() {
                        document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
                    }
                });
                new Pikaday(
                {
                    field: document.getElementById('projectDateTo'),
                    i18n: i18nObject,
                    onSelect: function() {
                        document.createTextNode(this.getMoment().format('Do MMMM YYYY') + ' ');
                    }
                });
            </script>
    </div>
{% endblock %}