{% extends 'base.html' %}
{% block content %}
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group search">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" placeholder="请输入项目名称" aria-describedby="sizing-addon2">
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".create-project-modal">新建项目</button>
                </div>
            </div>
            <form class="form-signin" action="" method="post">
            <div class="dateContainer">
                起止时间：
                <input type="text" id="datepickerFrom">
                ～
                <input type="text" id="datepickerTo">
                <span class="pm">项目经理：</span>
                <select class="form-control dateSelect" name="manager">
                    <option>全部</option>
                    {% for manager in all_managers %}
                        <option>{{ manager }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary" type="submit" value="搜索"></input>
{#                <button type="button" class="btn btn-primary" href="?start=2018-2-10&end=2018-3-20&manager=''">搜索</button>#}
            </div>
            {% csrf_token %}
            </form>



            <table class="table table-bordered table-hover">
                <thead >
                <tr>
                    <th>项目名称</th>
                    <th>项目经理</th>
                    <th>项目状态</th>
                    <th>起止时间</th>
                </tr>
                </thead>
                <tbody>
                {% for project in all_project.object_list %}
                    <tr>
                    <th scope="row"><a href="{% url 'project:project_detail' project.id %}">{{ project.name }}</a></th>
                    <td>{{ project.manager.username }}</td>
                    <td>{{ project.get_status_display }}</td>
                    <td>{{ project.start_time }} - {{ project.end_time }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if all_project.has_previous %}
            <a href="?{{ all_project.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; 前一页</a>
        {% else %}
            <span class="disabled prev">&lsaquo;&lsaquo; 前一页</span>
        {% endif %}
            {% for page in all_project.pages %}
            {% if page %}
            {% ifequal page all_project.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
            {% else %}
            ...
            {% endif %}
        {% endfor %}
            {% if all_project.has_next %}
            <a href="?{{ all_project.next_page_number.querystring }}" class="next">下一页 &rsaquo;&rsaquo;</a>
        {% else %}
            <span class="disabled next">下一页 &rsaquo;&rsaquo;</span>
        {% endif %}
{% endblock %}