{% extends 'team-base.html' %}
{% block title %}团队列表{% endblock %}
{% block content %}
    <h3>产品研发部</h3>
    <table class="table table-hover">
        <tbody>
        {% for group in groups %}
            <tr>
            <th scope="row"><a href="{% url 'group:group_detail' group.id %}">{{ group.name }}</a></th>
            <td colspan="2">
                <button type="button" class="btn btn-primary" onclick="javascript:editTeam({{ group.id }}, '{{ group.name }}')">编辑</button>
                <a type="button" class="btn btn-danger" href="javascript:deleteTeam({{ group.id }})">删除小组</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <button type="button" class="btn btn-primary" onclick="javascript:addTeam()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade add-and-edit-team-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-body"></div>
{% endblock %}
